@charset "utf-8";
/* CSS Document */
html,body{ height:200;}
/*--------清间距---------*/
*{box-sizing:border-box; margin: 0;padding: 0}
body,h1,h2,h3,h4,h5,h6,p,span,ul,dl,ol,li,dl,dt,dd,a,img,input,figure,figcaption{margin:0;padding:0}
ul,dl{list-style:none;}
input{outline:none;}
/*--------定义全局样式样式-----------*/
body{color:#384649;font-family:"微软雅黑";background-color: #fcfcfc}
body,html{height:100%}

header,footer,nav,main,section,article,aside,figure,figcaption{display:block}


/*——------超链接样式--------------*/
a{text-decoration:none;color:#333;}

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width:0.2px;
  -moz-osx-font-smoothing: grayscale;
}


