@charset "utf-8";
footer{
  height:49px;border-top:1px solid #e6e6e6;color:#7c898b;font-size:12px;padding-top:6px ;
  display: flex;
  div{
    flex:1;text-align: center;
    i{
      color:#7c898b;font-size: 24px;
    }
  }
  .first{
    color:#b59b72;
    i{
      color:#b59b72;
    }
  }

}